<div class="flex gap-x-3" data-hs-pin-input="">
    <input
        type="text"
        class="block w-[38px] text-center border-gray-200 rounded-md text-md focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
        data-hs-pin-input-item=""
        autofocus=""
    />
    <input
        type="text"
        class="block w-[38px] text-center border-gray-200 rounded-md text-md focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
        data-hs-pin-input-item=""
    />
    <input
        type="text"
        class="block w-[38px] text-center border-gray-200 rounded-md text-md focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
        data-hs-pin-input-item=""
    />
    <input
        type="text"
        class="block w-[38px] text-center border-gray-200 rounded-md text-md focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
        data-hs-pin-input-item=""
    />
</div>
